*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

.parent{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 300px;
  background-color: #222;
  color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
}

p{
  margin: 20px 0;
  align-items: center;
}

.card img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

.parent button{
  background-color: #fff;
  color: #111;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}