*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #131212;
}

button{
  color: #131212;
}