*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-1/2,-1/2);
  font-size: x-large;
  text-decoration: underline;
}

.nav{
  background-color: #0a4394;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
}