*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue';
    color: #000000;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

input,button{
  padding: 10px;
  margin: 10px;
  font-size: 15px;
}